@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="jumbo text-center py-5">
            <h1 class="text-white py-5">Welcome to PizzaGarage!</h1>
            <p class="text-white fw-bold">Go to the list of <a href="/Pizza/Index">PIZZE</a>!</p>
        </div>
    </div>
</div>
